body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  background-color: #f8fafc;
  color: #0f172a;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
